@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  font-family: 'GT America', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

  /* Background image */
  background-image: url("../public/images/background/background.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  /* Background color */
  background-color: rgba(13, 13, 13);

  /* Text color */
  color: #fff;

  /* Disable text selection */
  user-select: none;
}

* {
  box-sizing: border-box;
}

.nextui-tooltip-arrow {
  background-color: rgba(86, 86, 99, 0.9) !important;
}
